<a href="https://colab.research.google.com/github/Cynthiaudoye/Cynthiaudoye/blob/main/Assignment_4_Oeson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WAP to print the following series:
    1 ,4,9,16,25,36…………….

In [3]:
limit = 10
for i in range(1, limit + 1):
  square = i ** 2
  print(square, end=', ')

1, 4, 9, 16, 25, 36, 49, 64, 81, 100,

WAP to print the Fibonacci Series until a defined limit.

In [5]:
def fibonacci_series(limit):
  a, b = 0, 1
  print("Fibonacci series up to", limit, ":")
  while a <= limit:
    print(a, end=' ')
    a, b = b, a + b

limit = 100
fibonacci_series(limit)

Fibonacci series up to 100 :
0 1 1 2 3 5 8 13 21 34 55 89

WAP to count the number of vowels in a given word

In [6]:
def count_vowels(word):
  vowels = 'aeiouAEIOU'
  vowel_count = 0
  for char in word:
    if char in vowels:
      vowel_count += 1
  return vowel_count

word = "Hello World"
print(f"The number of vowels in '{word}' is {count_vowels(word)}")

The number of vowels in 'Hello World' is 3

WAP to calculate the sum of digits of a number entered by user.

In [8]:
def sum_of_digits():
  number = input("Enter a number: ")
  sum_digits = 0
  for digit in number:
    sum_digits += int(digit)
  print(f"The sum of the digits of {number} is {sum_digits}.")

sum_of_digits()

Enter a number: 34
The sum of the digits of 34 is 7.

WAP to print date and time of your system.

In [10]:
import datetime

def print_current_datetime():
  now = datetime.datetime.now()
  print(f"current date and time: {now}")

print_current_datetime()

current date and time: 2024-02-05 22:44:13.408460

WAP to calculate compound interest on a given principal amount.

In [11]:
def calculate_compound_interest(P, r, n, t):
    """
    Calculate the compound interest.

    Parameters:
    P (float): Principal amount
    r (float): Annual interest rate (as a decimal)
    n (int): Number of times interest applied per time period
    t (float): Time the money is invested for in years

    Returns:
    float: Compound interest
    """

    A = P * (1 + r / n) ** (n * t)
    CI = A - P
    return CI


P = 1000
r = 0.05
n = 4
t = 5

compound_interest = calculate_compound_interest(P, r, n, t)
print(f"The compound interest is: ${compound_interest:.2f}")

The compound interest is: $282.04

WAP to count the number of spaces in a given sentence.

In [12]:
def count_spaces(sentence):

    space_count = 0

    for char in sentence:

        if char == ' ':
            space_count += 1
    return space_count


sentence = "This is a sample sentence with spaces."
print(f"The number of spaces in the sentence is: {count_spaces(sentence)}")

The number of spaces in the sentence is: 6

WAP to show only even digits  from a given number.

In [13]:
def filter_even_digits(number):

    number_str = str(number)

    even_digits = ''

    for digit in number_str:

        if int(digit) % 2 == 0:
            even_digits += digit
    return even_digits

number = 123456789
even_digits = filter_even_digits(number)
print(f"Even digits in {number}: {even_digits}")

Even digits in 123456789: 2468

WAP to swap the first and last digit of a number

In [14]:
def swap_first_last_digits(number):

    number_str = str(number)

    if len(number_str) > 1:

        swapped_number_str = number_str[-1] + number_str[1:-1] + number_str[0]
    else:

        swapped_number_str = number_str

    return int(swapped_number_str)


number = 12345
swapped_number = swap_first_last_digits(number)
print(f"Original number: {number}")
print(f"Number after swapping first and last digits: {swapped_number}")

Original number: 12345
Number after swapping first and last digits: 52341

WAP to check whether a number is palindrome or not.

In [15]:
def is_palindrome(number):

    number_str = str(number)

    if number_str == number_str[::-1]:
        return True
    else:
        return False


number = 12321
if is_palindrome(number):
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

12321 is a palindrome.

WAP to print the following pattern
			*.
		*	*	*
	*	*	*	*	*

In [16]:
def print_star_pyramid(rows):

    max_width = 2 * rows - 1
    for i in range(1, rows + 1):

        stars = 2 * i - 1

        spaces = (max_width - stars) // 2

        print(' ' * spaces + '* ' * stars)


print_star_pyramid(3)

  *
 * * *
* * * * *

Convert decimal number to hexadecimal number using print() output formatting.

In [17]:
decimal_number = 255


print(f"{decimal_number} in hexadecimal is {decimal_number:x}")


print(f"{decimal_number} in hexadecimal is {decimal_number:X}")

255 in hexadecimal is ff
255 in hexadecimal is FF

WAP to accept any three string from one input() only.

In [18]:
input_str = input("Enter three strings separated by spaces: ")


strings = input_str.split(' ')


if len(strings) == 3:
    string1, string2, string3 = strings
    print(f"String 1: {string1}")
    print(f"String 2: {string2}")
    print(f"String 3: {string3}")
else:
    print("Please enter exactly three strings.")

Enter three strings separated by spaces: go to school
String 1: go
String 2: to
String 3: school

WAP to print a sentence using string. Format() method.

In [19]:
sentence_template = "My name is {}. I am {} years old and I live in {}."


name = "John"
age = 30
city = "New York"


formatted_sentence = sentence_template.format(name, age, city)


print(formatted_sentence)

My name is John. I am 30 years old and I live in New York.

WAP to read a file and print  second line from the file.

In [ ]:
filename = 'example.txt'


with open(filename, 'r') as file:

    lines = file.readlines()


    if len(lines) >= 2:

        print(lines[1])
    else:
        print("The file does not have a second line.")

WAP to display all prime numbers within a range of numbers.

In [21]:
def is_prime(n):
    """Check if a number is prime."""
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def display_primes(start, end):
    """Display all prime numbers within a given range."""
    for number in range(start, end + 1):
        if is_prime(number):
            print(number, end=' ')

# Example usage: Display primes between 10 and 50
start_range = 10
end_range = 50
print(f"Prime numbers between {start_range} and {end_range}:")
display_primes(start_range, end_range)

Prime numbers between 10 and 50:
11 13 17 19 23 29 31 37 41 43 47

WAP to print alternate alphabet from a given string.

In [22]:
def print_alternate_characters(s):

    alternate_chars = s[::2]

    print("Alternate characters:", alternate_chars)

# Example usage
given_string = "Hello, World!"
print_alternate_characters(given_string)

Alternate characters: Hlo ol!

WAP to print the count of alphabet ,digits and special character from a given sentence.

In [23]:
def count_characters(sentence):

    alphabets_count = 0
    digits_count = 0
    special_characters_count = 0


    for char in sentence:

        if char.isalpha():
            alphabets_count += 1

        elif char.isdigit():
            digits_count += 1

        else:
            special_characters_count += 1


    print(f"Alphabets: {alphabets_count}")
    print(f"Digits: {digits_count}")
    print(f"Special Characters: {special_characters_count}")

# Example usage
sentence = "Hello, World! 12345"
count_characters(sentence)

Alphabets: 10
Digits: 5
Special Characters: 4

WAP to print the occurrence of a given substring in a string.

In [24]:
def count_substring_occurrence(string, substring):

    count = string.count(substring)
    return count

# Example usage
string = "hello world, hello universe, hello everyone"
substring = "hello"
print(f"The substring '{substring}' occurs {count_substring_occurrence(string, substring)} times in the string.")

The substring 'hello' occurs 3 times in the string.

WAP to print the middle alphabet of a given string.

In [25]:
def print_middle_character(s):

    length = len(s)

    middle = length // 2

    if length % 2 == 0:

        print("Middle characters:", s[middle - 1:middle + 1])
    else:

        print("Middle character:", s[middle])

# Example usage
string1 = "hello"
print_middle_character(string1)

string2 = "python"
print_middle_character(string2)

Middle character: l
Middle characters: th