<a href="https://colab.research.google.com/github/Cynthiaudoye/Cynthiaudoye/blob/main/Assignment_5_Oeson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python function to find the maximum of three numbers in a list.
 Q2. Write a Python function to multiply all the numbers in a list.
 Q3. Write a Python program to reverse a list.
 Q4. Write a Python function to check whether a number falls within a given range in a list
 Q5. Write a Python function that accepts a string and counts the number of upper and lower case letters
 Q6.Write a Python function that takes a list and returns a new list with distinct
 elements from the first list.
 SampleList: [1,2,3,3,3,3,4,5]
 Unique List : [1, 2, 3, 4, 5]
 Q7.Apply all system defined functions like append, remove etc on a given list.
 Q8. WAP to Convert a list into a dictionary.
 Q9. WAP to Create a dictionary by extracting the keys from a given dictionary

 # Inputs:
 sample_dict = {
 "name": "Kelly",
 "age": 25,
 "salary": 8000,
 "city": "New york"}

 # Keys to extract
 keys = ["name", "salary"]

 # Expected Output: {'name': 'Kelly', 'salary': 8000}



 Q10. WAP to Get the key of a minimum value from the following dictionary

 #Input:
 sample_dict = {
 'Physics': 82,
 'Math': 65,
 'history': 75
 }

 #Expected Output: Math

 Q11. WAP to Sort dictionary by values - descending scores

 #Input:
 sample_dict = {
 'Physics': 82,
 'Math': 65,
 'history': 75,
 'chemistry': 89,
 'GK': 50

 }


 #Expected Output: 'chemistry': 89, 'Physics': 82, 'history': 75, 'Math': 65, 'GK': 50}

In [1]:
def max_of_three(numbers):
    return max(numbers)

In [2]:
def multiply_numbers(numbers):
    result = 1
    for number in numbers:
        result *= number
    return result

In [3]:
def reverse_list(lst):
    return lst[::-1]

In [4]:
def is_within_range(number, range_start, range_end):
    return range_start <= number <= range_end

In [5]:
def count_cases(s):
    upper_count = sum(1 for char in s if char.isupper())
    lower_count = sum(1 for char in s if char.islower())
    return {'UPPER': upper_count, 'LOWER': lower_count}

In [6]:
def unique_list(lst):
    return list(set(lst))

In [7]:
sample_list = [1, 2, 3, 4, 5]
sample_list.append(6)  # Append an item
sample_list.remove(2)  # Remove an item
print(sample_list)

[1, 3, 4, 5, 6]

In [14]:
def list_to_dict(lst):
    return dict(lst)

In [15]:
def extract_keys(sample_dict, keys):
    return {key: sample_dict[key] for key in keys}


sample_dict = {
 "name": "Kelly",
 "age": 25,
 "salary": 8000,
 "city": "New york"
}

keys = ["name", "salary"]

# Extracting specified keys
result_dict = {key: sample_dict[key] for key in keys}
print(result_dict)

{'name': 'Kelly', 'salary': 8000}

In [16]:
def min_value_key(sample_dict):
    return min(sample_dict, key=sample_dict.get)


sample_dict = {
 'Physics': 82,
 'Math': 65,
 'history': 75
}

# Getting the key of the minimum value
min_key = min(sample_dict, key=sample_dict.get)
print(min_key)

Math

In [17]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
}

sorted_dict = dict(sorted(sample_dict.items(), key=lambda item: item[1], reverse=True))

print(sorted_dict)

{'chemistry': 89, 'Physics': 82, 'history': 75, 'Math': 65, 'GK': 50}

In [20]:
def sort_dict_by_values_desc(sample_dict):
    return dict(sorted(sample_dict.items(), key=lambda item: item[1], reverse=True))


sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
}

#sorted_dict = dict(sorted(sample_dict.items(), key=lambda item: item[1], reverse=True))

print(sorted_dict)

{'chemistry': 89, 'Physics': 82, 'history': 75, 'Math': 65, 'GK': 50}